[submodule "vendor/glfw"]
	path = vendor/glfw
	url = https://github.com/TheCherno/glfw.git
[submodule "vendor/glm"]
	path = vendor/glm
	url = https://github.com/g-truc/glm.git
[submodule "vendor/tinygltf"]
	path = vendor/tinygltf
	url = https://github.com/syoyo/tinygltf.git
[submodule "vendor/gli"]
	path = vendor/gli
	url = https://github.com/g-truc/gli.git
