[submodule "vendor/glfw"]
	path = vendor/glfw
	url = https://github.com/santaclose/glfw
[submodule "vendor/glm"]
	path = vendor/glm
	url = https://github.com/g-truc/glm
[submodule "vendor/tinygltf"]
	path = vendor/tinygltf
	url = https://github.com/syoyo/tinygltf
[submodule "vendor/imgui"]
	path = vendor/imgui
	url = https://github.com/santaclose/imgui
[submodule "vendor/entt"]
	path = vendor/entt
	url = https://github.com/skypjack/entt.git
[submodule "vendor/meshoptimizer"]
	path = vendor/meshoptimizer
	url = https://github.com/zeux/meshoptimizer.git
[submodule "vendor/imnodes"]
	path = vendor/imnodes
	url = https://github.com/Nelarius/imnodes.git
